<!-- start snippet "ImageParallax" -->
<section class="part parallax" name="{{navlevel.id}}">
  <div class="bg-image"
    data-src="{{ image.srcmain }}"
    data-srcMedium="{{ image.srcmedium }}"
    data-srcPhone="{{ image.srcphone }}"

  >
  </div>
  {{> snippets/subcontent }}
  </div>
</section>
<!-- end snippet "ImageParallax" -->
