<div class="menu_open">
  <div class="sticks_wrapper">
    <div class="stick -first" id="stick1"></div>
    <div class="stick -second" id="stick2"></div>
    <div class="stick -third" id="stick3"></div>
  </div>
</div>

<div class="nav">

  <nav>
    <ul>
    {{#items}}
      {{# videobackground }}
        {{> snippets/subnavigation }}
      {{/ videobackground }}
      {{# textcentered }}
        {{> snippets/subnavigation }}
      {{/ textcentered }}
      {{# imagebackground }}
        {{> snippets/subnavigation }}
      {{/ imagebackground }}
      {{# videofullpage }}
        {{> snippets/subnavigation }}
      {{/ videofullpage }}
      {{# slideshowhorizontal }}
        {{> snippets/subnavigation }}
      {{/ slideshowhorizontal }}
      {{# slideshowvertical }}
        {{> snippets/subnavigation }}
      {{/ slideshowvertical }}
      {{# imageparallax }}
        {{> snippets/subnavigation }}
      {{/ imageparallax }}
    {{/items}}
    </ul>
  </nav>

  <div class="social-buttons">
  {{>snippets/subsocialbuttons}}
  </div>
  
</div><!-- / .nav -->
