{{#navigation}}

  {{^navigation.start-first-level}}
  {{#navigation.first-level}}
      </ul>
    </li><!-- / .first-level -->
  {{/navigation.first-level}}
  {{/navigation.start-first-level}}

  {{#navigation.child}}
    <li class="child">
      <a href="#{{id}}" data-articleNumber="{{id}}" title="{{#navtitle}}{{navtitle}}{{/navtitle}}{{^navtitle}}{{title}}{{/navtitle}}">
        {{#navtitle}}{{navtitle}}{{/navtitle}}
        {{^navtitle}}{{title}}{{/navtitle}}
      </a>
    </li><!-- / .child -->
  {{/navigation.child}}

  {{#navigation.first-level}}
    <li class="first-level">
      <a href="#{{id}}" data-articleNumber="{{id}}" title="{{#navtitle}}{{navtitle}}{{/navtitle}}{{^navtitle}}{{title}}{{/navtitle}}">
        <span>{{.}}</span>
        <p>
            {{#navtitle}}{{navtitle}}{{/navtitle}}
            {{^navtitle}}{{title}}{{/navtitle}}
        </p>
      </a>
      
      <ul>
        <figure>
          <a href="#{{id}}" title="{{#navtitle}}{{navtitle}}{{/navtitle}}{{^navtitle}}{{title}}{{/navtitle}}">
            <img src="{{navthumb}}" />
          </a>
        </figure>
  {{/navigation.first-level}}

  {{#navigation.end-first-level}}
      </ul>
    </li><!-- / .first-level -->
  {{/navigation.end-first-level}}

{{/navigation}}
