<section class="st-video part inview " name="{{navigation.id}}">
  <div class="video-container"
    data-loop="loop"
    data-preload="none"
    {{> snippets/subloadingimage }}
    >
    {{# video }}
      {{> snippets/subvideosource }}
   {{/ video }}
  </div>
 {{> snippets/subcontent }}
</section>
