<!-- start snippet "VideoFullPage" -->
<section class="st-content-video part inview snap" name="story".$storycounter."">

  <div class="video-container"
    data-preload="none"
    {{> snippets/subloadingimage }}
  >
    {{> snippets/subvideosource }}
  </div>

  <div class="caption">
    <div class="button-container">
      <button class="pauseplay"></button>
    </div>
    <div class="text">
      <h3>{{ title }}</h3>
      {{{ text }}}
    </div>
  </div>
</section>
<!-- end snippet "VideoFullPage" -->
